# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/settings.json
*.swp
*~

# Secrets
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# Build artifacts
dist/
build/
coverage/
.cache/
public/
.hugo_build.lock

# Dependencies
node_modules/

# Runtime
*.pid

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
