{{ define "main" }}
{{ $emailParts := split .Site.Params.email "@" }}
{{ $user := index $emailParts 0 }}
{{ $domain := index $emailParts 1 }}

<h1>{{ .Site.Params.name }}</h1>

<h2>{{ partial "icon-story.svg" }} <a href="/story/">Scott's Story</a></h2>

<h2>{{ partial "icon-thinking.svg" }} <a href="/posts/">Thinking</a></h2>

<h2>{{ partial "icon-work.svg" }} <a href="{{ .Site.Params.linkedin }}" target="_blank" rel="noopener noreferrer">Let's do some work together</a></h2>

<h2>{{ partial "icon-touch.svg" }} <a href="mailto:{{ $user }}&#64;{{ $domain }}">Get in touch</a></h2>

{{ end }}